<main>
    <div class="main-content">
        <nav class="category">
            <li class="active ">全部</li>
            <% categorys.forEach(function (category) {%>
                    <li><%= category.name%></li>
            <%})%>
            <br class="clear">
        </nav>
        <div class="article-list">
            <% topics.forEach(function(topic) { %>
                <div class="article-detail">
                    <a href="/topic/<%=topic.id%>"><h3><%= topic.title%></h3></a>
                    <div class="detail-left">
                        <span><%= topic.authorName%></span>
                    </div>
                    <div class="detail-right">
                        <span class="category-span"><%= topic.categoryName%></span>
                        <span class="time-span">2016-06-15</span>
                    </div>
                    <br class="clear;">
                </div>
            <% })%>
        </div>
        <div class="addition-info">
            <% if (session.user) {%>
                欢迎,<a><%= session.user.username%></a> <br>
                <a href="/newTopic">创建新话题</a>
                <a href="/newCategory">创建新分类</a>
            <% }%>
        </div>
        <br class="clear">
    </div>
</main>
