<div class="col-md-8">
    <div class="col-md-2"></div>
    <ul class="nav nav-tabs col-md-10">
        <li role="presentation" class="<%=(currentCategory === "all")?'active':'inactive'%>"><a href="/">All</a></li>
        <% categorys.forEach(function (category) {%>
            <li role="presentation" class="<%=(currentCategory === category.name)?'active':'inactive'%>"><a href="/category/<%=category.name%>"><%= category.name%></a></li>
        <%})%> 
    </ul>
</div>
<div class="article-list col-md-8">
    <% if (topics.length != 0) {%>
        <div class="col-md-12">
            <div class="col-md-2"></div>
            
            <div class="list-group col-md-10">
                <% topics.forEach(function(topic) { %>
                    <a href="/topic/<%=topic.id%>" class="list-group-item">
                        <h4 class="list-group-item-heading"><%= topic.title%></h4>
                        <span class="label label-primary"><%= topic.authorName%></span>
                        <span class="label label-info"><%= topic.categoryName%></span>
                        <p class="list-group-item-text">...</p>
                    </a>
                <% })%>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <nav class="col-md-10">
            <ul class="pagination">
                <li class="<%= (currentPage==1)?'hidden':'inactive'%>">
                <a href="/page/<%=Number(currentPage)-1%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <% pageNumArr.forEach(function (num) {%>
                    <li class="<%= (currentPage==(num+1))?'active':'inactive'%>"><a href="/page/<%=num+1%>"><%= num+1%></a></li>
                <% })%>
                <li class="<%= (currentPage==pageNumTotal)?'hidden':'inactive'%>">
                <a href="/page/<%=Number(currentPage)+1%>" aria-label="Next" >
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>
    <% }%>
</div>

<div class="addition-info col-md-4">

<% if (session.user) {%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome,<%= session.user.username%></h3>
  </div>
  <div class="panel-body">  
        <a href="/newTopic">创建新话题</a>
        <a href="/newCategory">创建新分类</a>
  </div>
</div>
<% }%>
</div>
