<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= topic.title%></h3>
            <span class="hidden topic-id"><%= topic._id%></span>            
        </div>
        <div class="panel-body">
            <span class="label label-info">category:<%= topic.categoryName%></span>
            <span class="label label-warning">author:<%= topic.authorName%></span>
            <%if (topic.comment.length > 10) {%>
            <span class="label label-danger right">hot</span>
            <%}%>
        </div>
        <div class="panel-body">
            <%- topic.content%>
            <%if (session.user.power == 1) {%>
            <div class="col-sm-offset-10 col-sm-12">
                <a href="/deleteTopic/<%=topic._id%>"><button class="btn btn-danger">delete</button></a>
            </div>
            <%}%>
        </div>
    </div>

    <div class="list-group">
    <% topic.commentFE.forEach(function (comment) {%>
        <a  class="list-group-item">
            <h4 class="list-group-item-heading"><%= comment.username%> say:</h4>
            <p class="list-group-item-text"><%- comment.content%></p>
        </a>
    <% })%>
    </div>
    <% if (session.user) {%>
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">your comment:</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-10">
                        <button type="button" class="btn btn-default" id="submit-comment">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <%}%>
</div>
<div class="col-md-2"></div>

<script>
    $('#submit-comment').click(function () {
        var content = $('textarea').val();
        var id = $('.topic-id').text();
        var username = $('a.username').text();

         $.ajax({
                url: '/comment/'+ id,
                type: 'POST',
                data: {
                    "username": username,
                    "content": content
                },
                success: function (data) {
                    if (data.result = 1) {
                        window.location = '/topic/' + id;
                    }
                }
            })
    })
</script>